$primary: #f85454;
$secondary: #0c353e;
$secondary_b: #08252c;
$secondary-dark: #08252C;
$white: #fff;
$black: #000;
$grey: #7a7a7a;
$success: #219653;
$info: #25a9e0;
$danger: #f14668;
$warning: #FFAF23;
$dark: #050505;
$purples: #886BF2;
$dark-white: #C3CDCF;
$grey-mute: #94A6AA;

